"Pick idea/problem in already existing market and show why your prduct is better than others, rather than working on idea which is not properly developed yet. Make sure that you are pitching to right people, know the background of the people to whom you are pitching, to make sure they are actually interested in the problem you're pitching" 